@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-sans: var(--font-roboto), sans-serif;
  --font-playfair: var(--font-playfair), serif;
}

:root {
  --primary: #23BE0A;
  --secondary-color: #59C6D2;
}